@font-face {
  font-family: "Maax Rounded";
  src: url("../fonts/Maax Rounded.otf");
}
@font-face {
  font-family: "Maax Rounded med";
  src: url("../fonts/Maax Rounded Medium.otf");
}

@font-face {
  font-family: "Maax Rounded Bold";
  src: url("../fonts/Maax Rounded Bold.otf");
}
body,
html {
  font-family: "Maax Rounded", sans-serif;
}
:root {
  --aqua: #7bd5d4;
  --azul: #235ba7;
  --celeste: #00b2e4;
  --rosa: #e70088;
}

/* Navbar */
.background-navbar {
  background-color: var(--azul);
  margin-bottom: 10px;
}

.brand-navbar {
  width: 140px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.navbar-nav a {
  font-family: "Maax Rounded med";
  font-size: 1.1rem;
}
#hero {
  min-height: 500px;
  height: 100vh;
  background-color: #00b2e4;
}
.he {
  height: inherit;
}
#text-hola {
  color: white;
  font-family: "Maax Rounded";
  font-size: 45px;
  margin-bottom: 0;
}
#hero-left-container {
  background-image: url("../image/hero-right-image.jpg");
  background-size: cover;
}

.texto {
  color: white;
  font-family: "Maax Rounded";
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: 300;
}
.titulo {
  color: white;
  font-family: "Maax Rounded Bold";
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.img-lalo {
  display: block;
  margin: auto;
  max-width: 100%;
}

.img-footer {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* COmunidad */
#comunidad {
  min-height: 400px;
}
.comunidad-left-conteiner {
  background-image: url("../image/comunidad.png");
  background-size: cover;
}
.comunidad-right-container {
  background-color: var(--aqua);
}
.logo-lalo-comunidad {
  width: 200px;
  vertical-align: text-bottom;
  margin-bottom: -10px;
}

.comunidad-title {
  color: white;
  font-family: "Maax Rounded med";
  font-size: 3rem;
}
.es-comunidad {
  color: var(--azul);
  font-family: "Maax Rounded med";
  font-size: 2rem;
}

.comunidad-parrafo {
  color: white;
  font-family: "Maax Rounded";
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

/* Departamenots */

.departamentos-title {
  font-family: "Maax Rounded med", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: var(--azul);
  margin-bottom: 24px;
}

.departamentos-text {
  font-family: "Maax Rounded", sans-serif;
  font-size: 1rem;
  color: var(--azul);
  text-align: center;
}

/* iconoss */
.caract-bolsa {
  background-color: var(--azul);
  min-height: 350px;
}

.caract-bolsa__text {
  color: #00b2e4;
  font-family: "Maax Rounded Bold";
  font-size: 1.1rem;
}

.caract-cara {
  background-color: var(--celeste);
  min-height: 350px;
}

.caract-cara__text {
  color: white;
  font-family: "Maax Rounded Bold";
  font-size: 1.1rem;
}
.caract-cara__subtext {
  font-family: "Maax Rounded";
}

.caract-hotel {
  background-color: var(--aqua);
  min-height: 350px;
}

.caract-hotel__text {
  color: var(--azul);
  font-family: "Maax Rounded Bold";
  font-size: 1.1rem;
}
/* FRANJA IMG */
.franja-img-banner {
  background-image: url("../image/franja-img.png");
  background-size: cover;
  min-height: 300px;
}

/* 
Comercio */

#comercio {
  background-color: var(--azul);
  padding: 80px 0;
}

.comercio-title {
  text-align: center;
  color: white;
  font-family: "Maax Rounded Bold";
  font-size: 3rem;
}
.comercio-texto {
  text-align: center;
  color: white;
  font-family: "Maax Rounded";
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

/* LolayLalo */
.lola {
  background-color: var(--rosa);
  padding: 50px;
}
.ll-logo {
  width: 60%;
}
.lola-text,
.lalo-text {
  margin: 0;
  margin-top: -30px;
  color: white;
  font-size: 2.1rem;
  font-family: "Maax Rounded Bold";
}

.lalo {
  background-color: var(--azul);
  padding: 50px;
}

#laloylola {
  background-color: var(--celeste);
}

.laloylola-title {
  font-size: 2.5rem;
  font-family: "Maax Rounded Med";
  color: white;
}

.laloylola-text {
  color: white;
  font-family: "Maax Rounded";
  width: 90%;
  margin: 0 auto;
}

.lola-title {
  color: var(--rosa);
}
.lalo-title {
  color: var(--azul);
}
/* UBICaciON */
#ubicacion {
  background-color: var(--aqua);
  margin-top: 10px;
  margin-bottom: 10px;
}

.ubicacion-title {
  color: var(--azul);
  margin: 50px auto;
  font-family: "Maax Rounded Med";
  font-size: 2.8rem;
}
.ubicacion-text {
  color: white;
  font-family: "Maax Rounded Bold";
  font-size: 1.1rem;
  display: inline-block;
  width: 45%;
}

.content {
  width: 90%;
}
.mapa {
  width: 100%;
}

/* FOOTER */
footer {
  background-color: var(--celeste);
}

.aviso {
  color: white;
  font-family: "Maax Rounded Bold";
  font-size: 2rem;
}
/* SEccion iconos */
.container {
  max-width: 1450px;
}

/* HERO MOVIL */
.down-hero-movil {
  background-color: var(--celeste);
  min-height: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.texto-hero-movil {
  color: white;
  font-family: "Maax Rounded";
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: 300;
}

.img-hero-movil {
  width: 100%;
}

.down-comunidad-movil {
  background-color: var(--aqua);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* FOMRULARIO MOVIL */

#formulario-movil-section {
  background-color: var(--aqua);
}
.title-form-inferior {
  font-family: "Maax Rounded Bold";
  color: var(--azul);
  text-align: center;
  font-size: 50px;
  margin-top: 18px;
}
.text-form-inferior-interes {
  font-family: "Maax Rounded Bold";
  font-size: 20px;
  color: var(--azul);
  margin-left: 20px;
}
.lista-form {
  list-style: none;
}
.label-form-inferior {
  font-family: "Maax Rounded Bold";
  font-size: 20px;
  color: var(--azul);
  margin-left: 20px;
}
.ctr-movil {
  border-radius: 12px;
  font-size: 20px;
  color: var(--aqua);
  font-family: "Maax Rounded Bold";
}

.ctr-movil::placeholder {
  color: var(--aqua);
}
/* BUTTON */
.button-blue {
  background-color: var(--azul);
  border-radius: 148px;
  font-family: "Maax Rounded Bold";
  color: var(--aqua);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 10px;
}
.min-width-btn {
  min-width: 250px;
}

.button-blue-text-white {
  background-color: var(--azul);
  border-radius: 148px;
  font-family: "Maax Rounded Bold";
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 30px;
}

.button-white {
  background-color: white;
  border-radius: 148px;
  font-family: "Maax Rounded Bold";
  color: var(--azul);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 30px;
}

.margin-b {
  margin-bottom: 10px;
}

.img-franja-movil {
  width: 100%;
}
@media screen and (max-width: 767px) {
  /* FRANJA IMG */
  .franja-img-banner {
    background-image: initial;
    background-size: initial;
    min-height: initial;
  }
  .comercio-texto {
    font-size: 20px;
  }
  .laloylola-text {
    color: white;
    font-family: "Maax Rounded";
    width: 80%;
    font-size: 20px;
  }
  .button-white {
    font-size: 20px;
  }
  .background-navbar {
    margin-bottom: 0;
  }
  .ll-logo {
    width: 80%;
  }
  .margin-b {
    margin-bottom: 0;
  }

  .departamentos-text {
    padding-left: 50px;
    padding-right: 50px;
  }
  #comercio {
    padding: 30px 0 15px 0;
  }

  .laloylola-class {
    padding: 25px 0;
  }

  .lola-text,
  .lalo-text {
    margin-top: -20px;
  }

  #ubicacion {
    background-color: var(--azul);
    margin-top: 0;
    margin-bottom: 0;
  }

  .ubicacion-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    text-align: left !important;
  }
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ubicacion-text {
    width: initial;
  }
  #ubicacion-text-aligh {
    flex-direction: column;
  }
}
/* prettier-ignore */
.navbar-dark .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
