@font-face {
  font-family: "Maax Rounded";
  src: url("../fonts/Maax Rounded.otf");
  font-display: swap;
}
@font-face {
  font-family: "Maax Rounded med";
  src: url("../fonts/Maax Rounded Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Maax Rounded Bold";
  src: url("../fonts/Maax Rounded Bold.otf");
  font-display: swap;
}
body,
html {
  font-family: "Maax Rounded", sans-serif;
}
:root {
  --aqua: #7bd5d4;
  --azul: #235ba7;
  --celeste: #00b2e4;
  --rosa: #e70088;
}

/* Navbar */
.background-navbar {
  background-color: var(--azul);
  margin-bottom: 10px;
}

.brand-navbar {
  width: 140px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.navbar-nav a {
  font-family: "Maax Rounded med",sans-serif;
  font-size: 1.1rem;
}
#hero {
  min-height: 500px;
  height: 100vh;
  background-color: #00b2e4;
}
.he {
  min-height: inherit;
  height: inherit;
}
.formulario-desk {
  background-color: #235BA7;
  margin-bottom: 10px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.form-hero-container {
  width: 380px;
  background-color: var(--aqua);
  border-radius: 15px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 20px 10px;
}

#text-hola {
  color: white;
  font-family: "Maax Rounded med";
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;  
  margin-bottom: 35px;
  text-align: center !important;
}
#hero-left-container {
  background-image: url("../image/hero-right-image.jpg");
  background-size: cover;
}
.ctr-hero {
  height: 55px;
  width: 550px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  color: var(--azul);
  font-family: "Maax Rounded Bold",sans-serif;
  padding-left: 21px;
  padding-top: 18px;
  padding-bottom: 16px;
}

.ctr-hero::placeholder {
  color: var(--azul);
}
.selec-frm{
  padding-top: 20px !important;
  padding-bottom: 0 !important;
}

.title-form-hero {
  font-family: "Maax Rounded Med",sans-serif;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  margin-bottom: 30px;
}
.title-form-hero-1{
  color: #FFF;
  font-family: "Maax Rounded Med";
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.label-form-hero {
  font-family: "Maax Rounded Bold",sans-serif;
  font-size: 14px;
  color: #FFF;
  margin-left: 20px;
  display: inline;
}

.text-form-hero-interes {
  font-family: "Maax Rounded Bold",sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFF;
  margin-left: 35px;
}
.text-form-hero-interes p {
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 1.2rem;
}
.form-check-input {
  margin-top: 0;
}
.lista-form {
  list-style: none;
}

.texto {
  color: #FFF;
  font-family: "Maax Rounded",sans-serif;;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}
.titulo {
  color: white;
  font-family: "Maax Rounded Bold",sans-serif;;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: none;
}

.img-lalo {
  display: block;
  margin: auto;
  max-width: 100%;
}

.img-carac{
  margin-bottom: 10px;
}
.img-footer {
  margin: auto;
  max-width: 100%;
}

/* COmunidad */
#comunidad {
  min-height: 400px;
}
.dinamico-comunidad-content {
  display: inline;
}
.dinamico-comunidad-list {
  list-style: none;
  /* display: inline; */
  padding: 0;
}

.dinamico-comunidad-list > li {
  color: white;
}
.comunidad-left-conteiner {
  background-image: url("../image/comunidad.jpg");
  background-size: cover;
}
.image-right-comercio{
  background-image: url("../image/comercio.jpg");
  background-size: cover;
}
.comunidad-right-container {
  background-color: var(--aqua);
}
.logo-lalo-comunidad {
  width: 200px;
  vertical-align: text-bottom;
  margin-bottom: -10px;
  margin-left: -60px;
}
.logo-ubicacion{
  margin-left: 0 !important;
}

.comunidad-title {
  color: white;
  font-family: "Maax Rounded med",sans-serif;
  font-size: 50px;
}
.es-comunidad {
  color: var(--azul);
  font-family: "Maax Rounded med",sans-serif;
  font-size: 2rem;
}

.comunidad-parrafo {
  color: #235BA7;
  font-family: "Maax Rounded",sans-serif;
  font-size: 16px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

/* Departamenots */

.departamentos-title {
  font-family: "Maax Rounded med", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: var(--azul);
  margin-bottom: 24px;
}

.departamentos-text {
  font-family: "Maax Rounded", sans-serif;
  font-size: 1rem;
  color: var(--azul);
  text-align: center;
}

/* iconoss */
.caract-bolsa {
  background-color: var(--azul);
  min-height: 350px;
}

.caract-bolsa__text {
  color: #00b2e4;
  font-family: "Maax Rounded Bold", sans-serif;
  font-size: 1.1rem;
}
.caract-clip__text {
  color: #7BD5D4;
  font-family: "Maax Rounded Bold", sans-serif;
  font-size: 1.1rem;
}

.caract-cara {
  background-color: var(--celeste);
  min-height: 350px;
}

.caract-cara__text {
  color: white;
  font-family: "Maax Rounded Bold", sans-serif;
  font-size: 1.1rem;
}
.caract-cara__subtext {
  font-family: "Maax Rounded", sans-serif;
}

.caract-hotel {
  background-color: var(--aqua);
  min-height: 350px;
}

.caract-hotel__text {
  color: var(--azul);
  font-family: "Maax Rounded Bold",sans-serif;
  font-size: 1.1rem;
}
/* FRANJA IMG */
.franja-img-banner {
  background-image: url("../image/franja-img.jpg");
  background-size: cover;
  min-height: 300px;
}

/* 
Comercio */

#comercio {
  background-color: var(--azul);
}
.padding-comercio{
   padding: 80px 0;
}

.comercio-title {
  text-align: center;
  color: white;
  font-family: "Maax Rounded Bold",sans-serif;
  font-size: 3rem;
}
.comercio-texto {
  text-align: center;
  color: white;
  font-family: "Maax Rounded",sans-serif;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
}
/*AMENIDADES*/
.amenidades-section{
  background-color: #00B2E4;
  height: 140px;
}
.amenidades-position{
  display: flex;
  justify-content: center;
  align-items: center;
}
.amenidades{
  color: #FFF;
  font-family: "Maax Rounded med";
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
}
.margin-target{
  margin-left: -30px !important;
  /* margin-right: -10px !important; */
}
.amenidades-texto{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  background-color: #235BA7;
  font-family: "Maax Rounded";
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
color: #FFF;
}
.img-amenidades-tam{
   height: 510px;
  width: 100%;
}
/* LolayLalo */
.lola {
  background-color: var(--rosa);
  padding: 50px;
}
.ll-logo {
  width: 60%;
}
.lola-text,
.lalo-text {
  margin: 0;
  margin-top: -30px;
  color: white;
  font-size: 2.1rem;
  font-family: "Maax Rounded Bold",sans-serif;;
}

.lalo {
  background-color: var(--azul);
  padding: 50px;
}

#laloylola {
  background-color: var(--celeste);
}

.laloylola-title {
  font-size: 2.5rem;
  font-family: "Maax Rounded Med",sans-serif;;
  color: white;
}

.laloylola-text {
  color: white;
  font-family: "Maax Rounded",sans-serif;;
  width: 90%;
  margin: 0 auto;
}

.lola-title {
  color: var(--rosa);
}
.lalo-title {
  color: var(--azul);
}
/* UBICaciON */
#ubicacion {
  background-color: var(--aqua);
  margin-top: 10px;
  margin-bottom: 10px;
}
.ubi{
    margin-top: 10px;
  margin-bottom: 20px;
}
.ubicacion-title {
  color: #FFF;
  /* margin: 50px auto; */
  font-family: "Maax Rounded Med",sans-serif;;
  font-size: 50px;
  line-height: 50px;
  margin-top: -10px;
}
.ubicacion-text {
  color: var(--azul);
  font-family: "Maax Rounded Bold",sans-serif;;
  font-size: 1.1rem;
  display: inline-block;
}
.ubicacion-ul{
  columns: auto 2;
  margin-left: -10px !important;
  margin-top: 20px;
}
.ubicacion-ul li{
  /*width: 378px;*/
  color: var(--azul);
  font-family: "Maax Rounded Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 18px;
}
.ubicacion-datos{
    color: #235BA7;
  font-family: "Maax Rounded Med";
  font-size: 38px;
  font-weight: 500;
  line-height: 38px;
}

.content {
  width: 90%;
}
.mapa {
  width: 100%;
  height: 564px;
}

/* FOOTER */
footer {
  background-color: var(--celeste);
}

.aviso {
  color: white;
  font-family: "Maax Rounded Bold",sans-serif;;
  font-size: 2rem;
}
/* SEccion iconos */
.container {
  max-width: 1450px;
}

/* HERO MOVIL */
.down-hero-movil {
  background-color: var(--celeste);
  min-height: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.texto-hero-movil {
  color: white;
  font-family: "Maax Rounded",sans-serif;;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: 300;
}

.img-hero-movil {
  width: 100%;
}

.down-comunidad-movil {
  background-color: var(--aqua);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* FOMRULARIO MOVIL */

#formulario-movil-section {
  background-color: var(--azul);
  margin-bottom: 10px;
}
.title-form-inferior {
  font-family: "Maax Rounded Bold",sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  margin-top: 18px;
}
.text-form-inferior-interes {
  font-family: "Maax Rounded Bold",sans-serif;
  font-size: 20px;
  color: #FFF;
  margin-left: 20px;
}
.lista-form {
  list-style: none;
}
.label-form-inferior {
  font-family: "Maax Rounded Bold",sans-serif;
  font-size: 20px;
  color: #FFF;
  margin-left: 20px;
}
.ctr-movil {
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  color: var(--azul);
  font-family: "Maax Rounded Bold",sans-serif;
  padding-left: 10px;
  padding-top: 10px;
  height: 45px;
}

.ctr-movil::placeholder {
  color: var(--azul);
}
/* BUTTON */
.button-blue {
  background-color: var(--azul);
  border-radius: 148px;
  font-family: "Maax Rounded Bold",sans-serif;
  color: var(--aqua);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 10px;
}

.button-color-white {
  background-color: var(--azul);
  border-radius: 148px;
  font-family: "Maax Rounded Bold",sans-serif;
  color: #FFF;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 10px;
}
.button-aqua {
  background-color: var(--aqua);
  border-radius: 148px;
  font-family: "Maax Rounded Bold",sans-serif;
  color: #FFF;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 10px;
  width: 217px;
}
.min-width-btn {
  min-width: 250px;
}

.button-blue-text-white {
  background-color: var(--azul);
  border-radius: 148px;
  font-family: "Maax Rounded Bold",sans-serif;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 30px;
}

.button-white {
  background-color: white;
  border-radius: 148px;
  font-family: "Maax Rounded Bold",sans-serif;
  color: var(--azul);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  display: block;
  margin: 30px auto 30px;
}

.margin-b {
  margin-bottom: 10px;
}

.img-franja-movil {
  width: 100%;
}
.cards{
  height: 200px;
  margin-top: -90px;
  padding: 0 !important;

}
.departamentos-container-right {
  background-image: url("../image/departamentos-1.jpg");
  background-size: cover;
  height: 350px;
}
.mapa-ubica{
  background-image: url("../image/mapax.jpg");
  background-size: cover;
}
@media (min-width:768px) and (max-width:1367px){
  .mapa-ubica{
    background-image: url("../image/map_tab.jpg");
    background-size: cover;
    background-position: center center;
  }
  .mapa{
    height: auto;
  }
}
@media screen  and (max-width: 767px) {
  .form-check-input {
    margin-top: .3rem;
  }
  .ctr-hero {
      width: 100%;
  }
  .ubicacion-ul li{
    width: 100%;
  }
  .ubicacion-ul{
    columns: auto 1;
  }
  .image-right-comercio {
      width: 100%;
      height: 450px;
  }
  /* FRANJA IMG */
  .franja-img-banner {
    background-image: initial;
    background-size: initial;
    min-height: initial;
  }
  .comercio-texto {
    font-size: 20px;
  }
  .laloylola-text {
    color: white;
    font-family: "Maax Rounded",sans-serif;
    width: 80%;
    font-size: 20px;
  }
  .button-white {
    font-size: 20px;
  }
  .background-navbar {
    margin-bottom: 0;
  }
  .ll-logo {
    width: 80%;
  }
  .margin-b {
    margin-bottom: 0;
  }

  .departamentos-text {
    padding-left: 50px;
    padding-right: 50px;
  }
  #comercio {
    padding: 30px 0 15px 0;
  }

  .laloylola-class {
    padding: 25px 0;
  }

  .lola-text,
  .lalo-text {
    margin-top: -20px;
  }

  #ubicacion {
    background-color: var(--aqua);
    margin-top: 0;
    margin-bottom: 0;
  }

  .ubicacion-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    text-align: left !important;
  }
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ubicacion-text {
    width: initial;
  }
  #ubicacion-text-aligh {
    flex-direction: column;
  }
  .amenidades {
    color: #FFF;
    font-family: "Maax Rounded med";
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
  }
}
@media screen and (max-width:425px){
  .title-form-hero {
    font-family: "Maax Rounded Med",sans-serif;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}
  .title-form-hero-1 {
    color: #FFF;
    font-family: "Maax Rounded Med";
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 10px;
}
  .ubicacion-ul li{
    font-size: 22px;
    line-height: 22px;
  }
  .ubicacion-text {
    font-size: 22px;
  }
  .mapa-ubica{
    background-image: url("../image/mapax-m.jpg");
    background-size: cover;
    background-position: center center;
  }
  .mapa {
    width: 100%;
    height: 564px;
  }
  .amenidades {
    color: #FFF;
    font-family: "Maax Rounded med";
    font-weight: 500;
    font-size: 48px;
    line-height: 8px;
}
  .button-white {
    font-size: 22px;
}
  .comercio-texto {
    font-size: 22px;
    text-align: left;

}
  .comercio-title{
    font-size: 42px;
    line-height: 42px;
    text-align: left;
  }
  .button-blue-text-white{
    font-size: 22px;
    line-height: 22px;
  }
  .cards {
    margin-top: -150px;
}
  .caract-clip__text,
  .caract-hotel__text,
  .caract-cara__text,
  .caract-bolsa__text{
    font-size: 26px;
    line-height: 22px;

  }
  .departamentos-text {
    padding-left: 0;
    padding-right: 10px;
    font-size: 22px;
    line-height: 28px;
    text-align: left;

}
  .departamentos-title {
    font-family: "Maax Rounded med";
    font-size: 42px;
    line-height: 42px;
    text-align: left;

}
  .comunidad-parrafo {
    font-size: 22x;
    line-height: 28px;
}
  #text-hola {
    font-size: 48px;
    line-height: 48px;
}
  .logo-lalo-comunidad {
    margin-left: 0;
  }
  .comunidad-right-container {
      padding-top: 20px;
      padding-bottom: 20px;
  }
    #comercio {
      padding: 0;
  }
    .comunidad-left-conteiner {
      background-image: url("../image/comunidad-m.jpg");
      background-size: cover;
      height: 300px;
    }
    .departamentos-container-right {
      background-image: url("../image/departamentos-m.jpg");
      background-size: cover;
      min-height: 350px;
    }

    .image-right-comercio-m{
      background-image: url("../image/comercio-m.jpg");
      background-size: cover;
      height: 300px;
    }
    .image-right-comercio{
      display: none;
    }
    .depto-display{
      display: block;
    }
    .padding-comercio {
        padding: 30px 20px;
    }
    .clas-li-margen{
      margin-left: -40px;
    }    
}
@media screen and (max-width: 362px) {
    .aviso {
    font-size: 1.8rem;
    }
}  
/* prettier-ignore */
/* .navbar-dark .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
} */

.hero-radio {
  /*border-radius: 15px;*/
  border-radius: 148px;

}
